In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv')

In [3]:
people = {
    "first" : "Abhi",
    "last" : "Yadav",
    "email" : "Abhi@gmail.com"
}

In [4]:
people

{'first': 'Abhi', 'last': 'Yadav', 'email': 'Abhi@gmail.com'}

In [5]:
people = {
    "first" : ["Abhi"],
    "last" : ["Yadav"],
    "email" : ["Abhi@gmail.com"]
}

In [6]:
people

{'first': ['Abhi'], 'last': ['Yadav'], 'email': ['Abhi@gmail.com']}

In [7]:
people["first"]

['Abhi']

In [8]:
people = {
    "first" : ["Abhi", "Jane", "John"],
    "last" : ["Yadav", "Doe", "Doe"],
    "email" : ["Abhi@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [9]:
people

{'first': ['Abhi', 'Jane', 'John'],
 'last': ['Yadav', 'Doe', 'Doe'],
 'email': ['Abhi@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']}

In [10]:
people['first']

['Abhi', 'Jane', 'John']

In [11]:
people['last']

['Yadav', 'Doe', 'Doe']

In [12]:
df = pd.DataFrame(people)

In [13]:
df

  first   last              email
0  Abhi  Yadav     Abhi@gmail.com
1  Jane    Doe  JaneDoe@gmail.com
2  John    Doe  JohnDoe@gmail.com

In [14]:
df['email']

0       Abhi@gmail.com
1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [15]:
type(df['email'])

pandas.core.series.Series

In [16]:
df.email

0       Abhi@gmail.com
1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [17]:
type(df.email)

pandas.core.series.Series

In [18]:
df[['last','email']]

    last              email
0  Yadav     Abhi@gmail.com
1    Doe  JaneDoe@gmail.com
2    Doe  JohnDoe@gmail.com

In [19]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [20]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [21]:
# data of first row
df.iloc[0]

first              Abhi
last              Yadav
email    Abhi@gmail.com
Name: 0, dtype: object

In [22]:
df.iloc[[0, 1]]

  first   last              email
0  Abhi  Yadav     Abhi@gmail.com
1  Jane    Doe  JaneDoe@gmail.com

In [23]:
df.iloc[[0, 1], 2]

0       Abhi@gmail.com
1    JaneDoe@gmail.com
Name: email, dtype: object

In [24]:
df.loc[0]

first              Abhi
last              Yadav
email    Abhi@gmail.com
Name: 0, dtype: object

In [25]:
df.loc[[0,1]]

  first   last              email
0  Abhi  Yadav     Abhi@gmail.com
1  Jane    Doe  JaneDoe@gmail.com

In [26]:
df.loc[[0,1], 'email']

0       Abhi@gmail.com
1    JaneDoe@gmail.com
Name: email, dtype: object

In [27]:
df.loc[[0, 1], ['email', 'last']]

               email   last
0     Abhi@gmail.com  Yadav
1  JaneDoe@gmail.com    Doe

In [28]:
df = pd.read_csv('data/survey_results_public.csv')

In [29]:
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [30]:
df.shape

(73268, 79)

In [31]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [32]:
df['Employment']

0                                                      NaN
1                                      Employed, full-time
2                                      Employed, full-time
3                                      Employed, full-time
4                                      Employed, full-time
                               ...
73263                                  Employed, full-time
73264                                  Employed, full-time
73265                                  Employed, full-time
73266                                  Employed, full-time
73267    Independent contractor, freelancer, or self-em...
Name: Employment, Length: 73268, dtype: object

In [33]:
df['Employment'].value_counts()

Employed, full-time                                                                                                                    42962
Student, full-time                                                                                                                      6756
Independent contractor, freelancer, or self-employed                                                                                    4978
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                3486
Not employed, but looking for work                                                                                                      1831
                                                                                                                                       ...
Student, part-time;Independent contractor, freelancer, or self-employed;Retired                                                            1
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work        1
Employed, full-time;Student, full-time;Retired                                                                                             1
Employed, part-time;Not employed, and not looking for work                                                                                 1
Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired                                        1
Name: Employment, Length: 103, dtype: int64

In [34]:
df.loc[0]

ResponseId                         1
MainBranch             None of these
Employment                       NaN
RemoteWork                       NaN
CodingActivities                 NaN
                           ...
TrueFalse_2                      NaN
TrueFalse_3                      NaN
SurveyLength                     NaN
SurveyEase                       NaN
ConvertedCompYearly              NaN
Name: 0, Length: 79, dtype: object

In [35]:
df.loc[[0, 1, 2, 3, 4], ['Employment', 'EdLevel']]

            Employment                                          EdLevel
0                  NaN                                              NaN
1  Employed, full-time                                              NaN
2  Employed, full-time  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Employed, full-time     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
4  Employed, full-time     Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [36]:
df.loc[0:4 , ['Employment', 'EdLevel']]

            Employment                                          EdLevel
0                  NaN                                              NaN
1  Employed, full-time                                              NaN
2  Employed, full-time  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Employed, full-time     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
4  Employed, full-time     Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [37]:
df.loc[0:4, 'Employment': 'DevType']

,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...
3,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack"
4,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev..."

In [38]:
pd.set_option('display.max_rows', 100)

In [39]:
df.loc[0:100, ['DevType','Country']]

,DevType,Country
0,NaN,NaN
1,NaN,Canada
2,Data scientist or machine learning specialist;...,United Kingdom of Great Britain and Northern I...
3,"Developer, full-stack",Israel
4,"Developer, front-end;Developer, full-stack;Dev...",United States of America
...,...,...
96,"Developer, full-stack",Israel
97,"Developer, front-end;Engineer, data;Developer,...",United States of America
98,NaN,Egypt
99,"Developer, full-stack",Turkey
100,NaN,South Africa